* {
    font-family: 'Akaya Telivigala', cursive;
}

#gallery_back {
    color: blueviolet;
    background: #F0F8FF;
    font-style: italic;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h3 {
    text-align: center;
}

.first_img {
    text-align: center;
    font-size: 1.05em;
}

.second_img {

    text-align: center;
    font-size: 1.05em;

}

.third_img {

    text-align: center;
    font-size: 1.365em;
    height: 20px;
}

img {
    display: inherit;
    width: 100%;
    max-height: 480px;
}
